---
- hosts: all
  become: yes
  tasks:
  - name: Install Apache on My Centos Machine
    yum: 
      name: httpd
      state: latest
  - name: Start the Apache Server on Centos Machine
    service:
      name: httpd
      state: started

